<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Bảng phân công</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Bảng phân công</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Bảng phân công Coach và Instructor
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th colspan="2">Coach</th>
          <th colspan="4">Instructor</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>G</th>
          <th>H</th>
          <th>I</th>
          <th>K</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lecture of listLecture; index as i">
          <td>{{lecture.name}}</td>
          <td>{{lecture.classCoach[0] != null ? lecture.classCoach[0].name : ''}}</td>
          <td>{{lecture.classCoach[1] != null ? lecture.classCoach[1].name : ''}}</td>
          <td>
            <span
              *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'G' ? classes.name : ''}}</span>
          </td>
          <td>
            <span
              *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'H' ? classes.name : ''}}</span>
          </td>
          <td>
            <span
              *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'I' ? classes.name : ''}}</span>
          </td>
          <td>
            <span
              *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'K' ? classes.name : ''}}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        Bảng phân công Tutor
      </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th></th>
          <th>Phòng</th>
          <th></th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Tổng số chỗ</th>
          <th>Số chỗ đang học</th>
          <th>Số chỗ còn lại</th>
          <th>Công suất</th>
          <th>Lớp</th>
          <th>Sĩ số của lớp</th>
        </tr>
        </thead>
        <tbody *ngFor="let classroom of listClassroom; index as i">
        <tr>
          <td rowspan="4">{{i+1}}</td>
          <td rowspan="4">{{classroom.name}}</td>
          <td>G</td>
          <td *ngIf="classroom.tutorInG!= null">
            <span *ngIf="classroom.tutorInG[0]!=null">{{classroom.tutorInG[0].name}}</span>
            <span *ngIf="classroom.tutorInG[1]!=null">{{', '+classroom.tutorInG[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInG== null">
          </td>
          <td *ngIf="classroom.tutorInG!= null">
            <span *ngIf="classroom.tutorInG[0]!=null">{{classroom.tutorInG[0].name}}</span>
            <span *ngIf="classroom.tutorInG[1]!=null">{{', '+classroom.tutorInG[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInG== null">
          </td>
          <td *ngIf="classroom.tutorInG!= null">
            <span *ngIf="classroom.tutorInG[0]!=null">{{classroom.tutorInG[0].name}}</span>
            <span *ngIf="classroom.tutorInG[1]!=null">{{', '+classroom.tutorInG[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInG== null">
          </td>
          <td *ngIf="classroom.tutorInG!= null">
            <span *ngIf="classroom.tutorInG[0]!=null">{{classroom.tutorInG[0].name}}</span>
            <span *ngIf="classroom.tutorInG[1]!=null">{{', '+classroom.tutorInG[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInG== null">
          </td>
          <td *ngIf="classroom.tutorInG!= null">
            <span *ngIf="classroom.tutorInG[0]!=null">{{classroom.tutorInG[0].name}}</span>
            <span *ngIf="classroom.tutorInG[1]!=null">{{', '+classroom.tutorInG[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInG== null">
          </td>
          <td rowspan="4">{{classroom.capacity}}</td>
          <td rowspan="4"></td>
          <td rowspan="4"></td>
          <td rowspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>H</td>
          <td *ngIf="classroom.tutorInH!= null">
            <span *ngIf="classroom.tutorInH[0]!=null">{{classroom.tutorInH[0].name}}</span>
            <span *ngIf="classroom.tutorInH[1]!=null">{{', '+classroom.tutorInH[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInH== null">
          </td>
          <td *ngIf="classroom.tutorInH!= null">
            <span *ngIf="classroom.tutorInH[0]!=null">{{classroom.tutorInH[0].name}}</span>
            <span *ngIf="classroom.tutorInH[1]!=null">{{', '+classroom.tutorInH[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInH== null"></td>
          <td *ngIf="classroom.tutorInH!= null">
            <span *ngIf="classroom.tutorInH[0]!=null">{{classroom.tutorInH[0].name}}</span>
            <span *ngIf="classroom.tutorInH[1]!=null">{{', '+classroom.tutorInH[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInH== null"></td>
          <td *ngIf="classroom.tutorInH!= null">
            <span *ngIf="classroom.tutorInH[0]!=null">{{classroom.tutorInH[0].name}}</span>
            <span *ngIf="classroom.tutorInH[1]!=null">{{', '+classroom.tutorInH[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInH== null"></td>
          <td *ngIf="classroom.tutorInH!= null">
            <span *ngIf="classroom.tutorInH[0]!=null">{{classroom.tutorInH[0].name}}</span>
            <span *ngIf="classroom.tutorInH[1]!=null">{{', '+classroom.tutorInH[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInH== null"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>I</td>
          <td *ngIf="classroom.tutorInI!= null">
            <span *ngIf="classroom.tutorInI[0]!=null">{{classroom.tutorInI[0].name}}</span>
            <span *ngIf="classroom.tutorInI[1]!=null">{{', '+classroom.tutorInI[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInI== null">
          <td *ngIf="classroom.tutorInI!= null">
            <span *ngIf="classroom.tutorInI[0]!=null">{{classroom.tutorInI[0].name}}</span>
            <span *ngIf="classroom.tutorInI[1]!=null">{{', '+classroom.tutorInI[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInI== null">
          <td *ngIf="classroom.tutorInI!= null">
            <span *ngIf="classroom.tutorInI[0]!=null">{{classroom.tutorInI[0].name}}</span>
            <span *ngIf="classroom.tutorInI[1]!=null">{{', '+classroom.tutorInI[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInI== null">
          <td *ngIf="classroom.tutorInI!= null">
            <span *ngIf="classroom.tutorInI[0]!=null">{{classroom.tutorInI[0].name}}</span>
            <span *ngIf="classroom.tutorInI[1]!=null">{{', '+classroom.tutorInI[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInI== null">
          <td *ngIf="classroom.tutorInI!= null">
            <span *ngIf="classroom.tutorInI[0]!=null">{{classroom.tutorInI[0].name}}</span>
            <span *ngIf="classroom.tutorInI[1]!=null">{{', '+classroom.tutorInI[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInI== null">
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>K</td>
          <td *ngIf="classroom.tutorInK!= null">
            <span *ngIf="classroom.tutorInK[0]!=null">{{classroom.tutorInK[0].name}}</span>
            <span *ngIf="classroom.tutorInK[1]!=null">{{', '+classroom.tutorInK[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInK== null">
          <td *ngIf="classroom.tutorInK!= null">
            <span *ngIf="classroom.tutorInK[0]!=null">{{classroom.tutorInK[0].name}}</span>
            <span *ngIf="classroom.tutorInK[1]!=null">{{', '+classroom.tutorInK[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInK== null">
          <td *ngIf="classroom.tutorInK!= null">
            <span *ngIf="classroom.tutorInK[0]!=null">{{classroom.tutorInK[0].name}}</span>
            <span *ngIf="classroom.tutorInK[1]!=null">{{', '+classroom.tutorInK[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInK== null">
          <td *ngIf="classroom.tutorInK!= null">
            <span *ngIf="classroom.tutorInK[0]!=null">{{classroom.tutorInK[0].name}}</span>
            <span *ngIf="classroom.tutorInK[1]!=null">{{', '+classroom.tutorInK[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInK== null">
          <td *ngIf="classroom.tutorInK!= null">
            <span *ngIf="classroom.tutorInK[0]!=null">{{classroom.tutorInK[0].name}}</span>
            <span *ngIf="classroom.tutorInK[1]!=null">{{', '+classroom.tutorInK[1].name}}</span>
          </td>
          <td *ngIf="classroom.tutorInK== null">
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
