<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Bảng phân công Coach và Instructor</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Bảng phân công</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="card-tools">
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-classroom">
        <thead>
        <tr>
          <th></th>
          <th colspan="2">Coach</th>
          <th colspan="4">Instructor</th>
        </tr>
        <tr>
          <th></th>
          <th>Slack sáng</th>
          <th>Slack chiều</th>
          <th>G</th>
          <th>H</th>
          <th>I</th>
          <th>K</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lecture of listLecture; index as i">
          <td>{{lecture.name}}</td>
          <td>{{lecture.classCoach[0] != null ? lecture.classCoach[0].name : ''}}</td>
          <td>{{lecture.classCoach[1] != null ? lecture.classCoach[1].name : ''}}</td>
          <td>
            <span *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'G' ? classes.name: ''}}</span>
          </td>
          <td>
            <span *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'H' ? classes.name: ''}}</span>
          </td>
          <td>
            <span *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'I' ? classes.name: ''}}</span>
          </td>
          <td>
            <span *ngFor="let classes of lecture.classInstructor">{{classes.classTime == 'K' ? classes.name: ''}}</span>
          </td>
          <!--          <td-->
          <!--            *ngIf="lecture.classInstructor != null">{{lecture.classInstructor[0] != null ? (lecture.classInstructor[0].classTime == 'G' ? lecture.classInstructor[0].name : '') : ''}}-->
          <!--          </td>-->
          <!--          <td *ngIf="lecture.classInstructor == null"></td>-->
          <!--          <td-->
          <!--            *ngIf="lecture.classInstructor != null">{{lecture.classInstructor[1] != null ? (lecture.classInstructor[1].classTime == 'H' ? lecture.classInstructor[1].name : '') : ''}}-->
          <!--          </td>-->
          <!--          <td *ngIf="lecture.classInstructor == null"></td>-->
          <!--          <td-->
          <!--            *ngIf="lecture.classInstructor != null">{{lecture.classInstructor[2] != null ? (lecture.classInstructor[2].classTime == 'I' ? lecture.classInstructor[2].name : '') : ''}}-->
          <!--          </td>-->
          <!--          <td *ngIf="lecture.classInstructor == null"></td>-->
          <!--          <td-->
          <!--            *ngIf="lecture.classInstructor != null">{{lecture.classInstructor[3] != null ? (lecture.classInstructor[3].classTime == 'K' ? lecture.classInstructor[3].name : '') : ''}}-->
          <!--          </td>-->
          <!--          <td *ngIf="lecture.classInstructor == null"></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
