<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách lớp học</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách lớp học</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="card-tools">
        <a routerLink="create" class="btn btn-sm btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-classroom">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên lớp</th>
          <th>Số HV</th>
          <th>Giờ học lý thuyết</th>
          <th>Chương trình học</th>
          <th>Module</th>
          <th>Coach</th>
          <th>Instructor</th>
          <th>Tutor</th>
          <th>Location</th>
          <th style="width: 160px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let classes of listClasses; index as i" (mouseenter)="getClassId(classes.id)">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info',classes.id]">{{classes.name}}</a>
          </td>
          <td *ngIf="classes.students!=null">
            {{classes.students.length}}
          </td>
          <td>
            Giờ {{classes.classTime}}
          </td>
          <td *ngIf="classes.program != null">
            {{classes.program.name}}
          </td>
          <td>
            {{classes.module}}
          </td>
          <td>
            <select #coachId class="custom-select"
                    (change)="addCoachToClass(classes.id, coachId.value)">
              <option [ngValue]="null" disabled>Coach</option>
              <option *ngFor="let coach of listCoach" [value]="coach.id"
                      [selected]="classes.coach!=null ? classes.coach.id === coach.id : false">{{coach.name}}</option>
            </select>
          </td>
          <td>
            <select #instructorId class="custom-select"
                    (change)="addInstructorToClass(classes.id, instructorId.value)">
              <option [ngValue]="null" disabled>Instructor</option>
              <option *ngFor="let instructor of classes.instructorSelect" [value]="instructor.id"
                      [selected]="classes.instructor != null ? classes.instructor.id === instructor.id : false">{{instructor.name}}</option>
            </select>
          </td>
          <td>
            <select multiple class="form-control select2 select2-primary tutor"
                    data-dropdown-css-class="select2-primary" style="width: 100%">
              <option [ngValue]="null" disabled>Tutor</option>
              <option *ngFor="let tutor of classes.tutorSelect; index as j" [value]="tutor.id"
                      [selected]="classes.tutors[0] != null && classes.tutors[0].id == tutor.id
                       || classes.tutors[1] != null && classes.tutors[1].id == tutor.id">{{tutor.name}}</option>
            </select>
          </td>
          <td>
            <select #classroomId class="custom-select"
                    (change)="addClassroomToClasses(classes.id, classroomId.value)">
              <option [ngValue]="null" disabled>Vị tri</option>
              <option *ngFor="let classroom of listClassroom" [value]="classroom.id"
                      [selected]="classes.classroom != null ? classes.classroom.id === classroom.id : false">{{classroom.name}}</option>
            </select>
          </td>
          <td>
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',classes.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                        data-target="#modal-delete" (click)="getClassId(classes.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa lớp học</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa lớp học này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteClass()">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
      <div class="modal-content bg-danger">
        <div class="modal-header">
          <h4 class="modal-title">Cảnh báo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
          <div *ngIf="isLectureError">
            <p>Bạn có chắc muốn tiếp tục?</p>
            <p>Nếu có hãy nhấn OK</p>
          </div>
          <div *ngIf="isClassroomError">
            <p>Hãy chọn lớp khác</p>
            <p></p>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-outline-light" id="save-event" (click)="continue()">OK</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
