<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Danh sách lớp học</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Danh sách lớp học</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"></h3>
      <div class="card-tools">
        <a routerLink="create" class="btn btn-sm btn-primary float-lg-right">
          Tạo mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-classroom">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên lớp</th>
          <th>Giờ học lý thuyết</th>
          <th>Chương trình học</th>
          <th>Coach</th>
          <th>Instructor</th>
          <th>Tutor</th>
          <th style="width: 160px"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let classes of listClasses; index as i" (click)="getClassId(classes.id)">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info',classes.id]">{{classes.name}}</a>
          </td>
          <td>
            Giờ {{classes.classTime}}
          </td>
          <td *ngIf="classes.program != null">
            {{classes.program.name}}
          </td>
          <td>
            <select #selectList class="custom-select" *ngIf="classes.coach!=null"
                    (change)="addCoachToClass(classes.id, selectList.value)">
              <option [ngValue]="null" disabled>Coach</option>
              <option *ngFor="let coach of listCoach" [value]="coach.id"
                      [selected]="classes.coach.id === coach.id">{{coach.name}}</option>
            </select>
          </td>
          <td>
            <select #selectList class="custom-select" *ngIf="classes.instructor != null"
                    (change)="addInstructorToClass(classes.id, selectList.value)">
              <option [ngValue]="null" disabled>Instructor</option>
              <option *ngFor="let instructor of listInstructor" [value]="instructor.id"
                      [selected]="classes.instructor.id === instructor.id">{{instructor.name}}</option>
            </select>
          </td>
          <td>
            <select multiple class="form-control select2 select2-primary"
                    data-dropdown-css-class="select2-primary"
                    *ngIf="classes.instructor != null" style="width: 100%" id="tutor">
              <option [ngValue]="null" disabled>Tutor</option>
              <option *ngFor="let tutor of listTutor" [value]="tutor.id">{{tutor.name}}</option>
            </select>
          </td>
          <td>
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['edit',classes.id]" class="btn btn-block btn-primary" style="color: white">
                  <i class="fa fa-edit"></i>
                </a>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                        data-target="#modal-delete" (click)="getClassId(classes.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xóa lớp học</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa lớp học này</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-danger" (click)="deleteClass()">Xóa</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</section>
