<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item active mr-sm-3">
        <a class="nav-link" routerLink="">
          <i class="fa fa-home fa-lg"></i>
          Trang chủ<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
